<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="hgfhgfh">
    <meta name="author" content="fghfdh">

    <title>Python tutor</title>

    <link href="/static/style.css" rel="stylesheet">

  </head>

  <body>
    <nav>
      <ul class="logo">
        <li class="logo"><a href="http://www.fit.vutbr.cz/">
          <img style="padding: 0px 0px 0px 0px;" src="/static/fit_logo.jpg" width="auto" height="100">
            </a>
        </li>
     </ul>
    </nav>

    <div class="container">
      <h1>Python tutor</h1>
    </div>
  </body>

</html<